<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<% @projects.each do |project| %>
  <div class="project-box">
    <div class="project-box-title"><%=project.name%></div>
    <div class="project-arrow-down"></div>
    <div class="project-box-new-item"><a href="tasks/new/<%= project.id %>">Добавить задачу</a></div>
    <% @tasks = project.tasks %>
    <%= render 'task' %>
  </div>
<% end %>