<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<% @projects.each do |project| %>
  <div class="col-lg-3">
    <div class="panel panel-primary">
      <div class="panel-heading"><%= project.name %></div>
      <div class="new"><a href="tasks/new/<%= project.id %>">Добавить задачу</a></div>
      <% if project.tasks.size > 0 %>
      <ul class="list-group">
        <li class="list-group-item">
          <% @tasks = project.tasks.find_all_by_active(true) %>
          <%= render 'task' %>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
<% end %>