<div class="error-message"><%= flash[:error] %></div>
<form method="POST">
  <input type="login" name="login" placeholder="Имя пользователя" required>
  <br>
  <input type="password" name="pass" placeholder="Пароль" required>
  <br>
  <input type="submit" value="Войти">
</form>