// Place all the styles related to the feed controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.panel {
  .panel-heading {
    font-weight: bold;
  }
  .new {
    text-align: center;
    
    a {
      color: #424242;
    }
  }
}
.small-text {
  font-size: 9px;
  cursor: default;
}