// Place all the styles related to the feed controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.project-box {
  position: relative;
  float: left;
  width: 180px;
  margin: 5px;
  border: 1px solid #111;
  border-radius: 10px;

  .project-box-title {
    position: relative;
    width: 100%;
    text-align: center;
    background: #ff9000;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
    color: #111;
  }
  .project-box-item {
    position: relative;
    padding-left: 10px;
    border-bottom: 1px dotted #c2c2c2;
  }
}
.task-container :last-child {
  border: none;
}