// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Show
.field_wrapper {
  position: relative;
  min-height: 40px;
  background: #e9e9e9;
  border-bottom: 1px dotted #c2c2c2;
  padding: 0 10px;

  .field_title {
    position: relative;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
//Index
.project_list {
	position: relative;

	.project_item {
		position: relative;
		width: 1000px;
		margin-bottom: 5px;

		.project_title {
			position: relative;
			float: left;
			width: 690px;
			height: 45px;
			line-height: 45px;
			padding-left: 10px;
			background: #e9e9e9;
		}
    .project_left_arrow {
      position: absolute;
      width: 0px;
      height: 0px;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid #bcbcbc;
      margin-left: 690px;
      top: 13px;
    }
		.project_control {
			position: relative;
			margin-left: 700px;
      padding-left: 10px;
			width: 290px;
			height: 45px;
			line-height: 45px;
      background: #bcbcbc;
      
      a {
        font-weight: bold;
      }
		}
	}

	a {
		color: #000;
		text-decoration: none;
	}
}

//Form
#page_title {
  position: relative;
  width: 100%;
  height: 40px;
  text-align: center;
  background: #3299bb;
  font-weight: bold;
  color: #fff;
  line-height: 40px;
}
#arrow_down {
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 10px solid #3299bb;
  margin: 0 auto;
  margin-bottom: -10px;
  z-index: 1;
  position: relative;
}
form {
  position: relative;
  background: #e9e9e9;
  padding: 0 10px;
  
  label {
    font-weight: bold;
  }
  .field, .users {
    border-bottom: 1px dotted #c2c2c2;
    min-height: 40px;
    margin: 0;
    padding: 10px 0;
  }
  .actions {
    margin: 0 auto;
    width: 270px;
    
    input {
      float: left;
      position: relative;
      width: 120px;
      height: 40px;
      background: #ff9900;
      border: none;
      display: block;
    }
    .button_back {
      position: relative;
      margin-left: 150px;
      width: 120px;
      height: 40px;
      line-height: 40px;
      background: #ff9900;
      text-align: center;
      
      a {
        color: #000;
        text-decoration: none;
        font: -webkit-small-control;
      }
    }
  }
}
